# Jekyll configuration for Open SDG platform

# primary settings:
baseurl: "/sdg-enz-staging-site" # change here!
remote_data_prefix: "https://DrJannisHoek.github.io/sdg-enz-staging-data/"

# URL for the "Edit Data" and "Edit Metadata" button on indicators.
data_edit_url: http://prose.io/#DrJannisHoek/sdg-enz-staging-data/edit/develop/data/indicator_[id].csv
metadata_edit_url: http://prose.io/#DrJannisHoek/sdg-enz-staging-data/edit/develop/meta/[id].md

languages:
  - de

country: # or place name
  name: Enzkreis
  adjective: Enzkreis

email_contacts:
  questions: nachhaltigkeit@ba-tk.berlin.de
  suggestions: nachhaltigkeit@ba-tk.berlin.de
  functional: nachhaltigkeit@ba-tk.berlin.de

frontpage_introduction_banner:
 title: frontpage.intro_title
 description: frontpage.intro_body

frontpage_goals_grid:
  title: my-custom-translations.my-goals-grid-title
  description: my-custom-translations.my-goals-grid-description

title: general.site_title
url: ""
environment: staging

# other settings are alphabetically ordered:
analytics:
  ga_prod: ''

breadcrumbs:
  post:
  - label: general.home
    path: /
  - label: menu.updates
    path: /news
  goal:
  - label: general.home
    path: /
  - label: general.goals
    path: /goals
  indicator:
  - label: general.home
    path: /
  - label: general.goals
    path: /goals

collections:
  pages:
    output: true
    permalink: /:path/
  posts:
    output: true
    permalink: /news/:year/:month/:day/:title.html
  indicators:
    output: true
  goals:
    output: true

create_indicators:
  layout: indicator
create_goals:
  previous_next_links: false
  goals: []
create_pages:
  - filename: ''
    folder: /goals
    layout: goals
    title: general.goals
  - filename: ''
    folder: /reporting-status
    layout: reportingstatus
    title: status.reporting_status
  - filename: ''
    folder: /search
    layout: search
    title: search.search

custom_js:
  - /assets/js/custom.js
exclude:
  - vendor
  - scripts
  - remotedata
  - Gemfile
  - Gemfile.lock
  - README
  - README.md
  - LICENSE

footer_language_toggle: none
footer_menu:
  - path: https://sdgs-treptow-koepenick.github.io/DataTK/en/zip/all_indicators.zip
    translation_key: Download
  - path: mailto:nachhaltigkeit@ba-tk.berlin.de
    translation_key: menu.contact_us
  - path: /about/cookies-and-privacy/
    translation_key: menu.cookies
  #   - path: /about/cookies-and-privacy/
  #     translation_key: Impressum
  - path: /guidance
    translation_key: menu.guidance

# frontpage_cards:
#   - include: components/card.html

goal_image_base: https://open-sdg.org/sdg-translations/assets/img/goals
graph_color_set: accessible
header_language_toggle: dropdown

map_options:
 minZoom: 5
 maxZoom: 20
 tileURL: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
 tileOptions:
   attribution: '<a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>'
map_layers:
 - min_zoom: 0
   max_zoom: 30
   subfolder: districts
   label: District
   # Control the choropleth color range. See https://gka.github.io/chroma.js/#chroma-brewer
   colorRange: chroma.brewer.BuGn
   # Set the color for boundaries that have no data.
   noValueColor: #f0f0f0
   # https://leafletjs.com/reference-1.4.0.html#path-option
   styleNormal:
     weight: 1
     opacity: 1
     color: #888888
     fillOpacity: 0.7
   styleHighlighted:
     weight: 1
     opacity: 1
     color: #111111
     fillOpacity: 0.7

menu:
  - path: /goals
    translation_key: general.goals
  - path: /reporting-status
    translation_key: menu.reporting_status
  - path: /about
    translation_key: menu.about
  - path: /faq
    translation_key: menu.faq

plugins:
  - jekyll-remote-theme
  - jekyll-open-sdg-plugins

remote_theme: open-sdg/open-sdg@2.1.0
