#main-content {
  .goal-tiles {
    .goal-tile {
      & > a:focus {
        outline: 0px $focusOutlineColor solid !important;
      }
    }
    padding-top: 1rem;
  }
}

.row {
  margin-left: 0px;
}

/*#0. header */
/* replace original body setting --> hide by setting background transparent */
body{
  background: transparent;
  padding-top: 0px;
}

/* header color bar --> hide by pushing over page-top boundary */
#color-bar-background {
  background: $backgroundColor url('../img/sdgbg.png') top left repeat-x;
  top: 0px;
  height: 9px;
}

header {
  display: block;
  // position: sticky;  
  // position: -webkit-sticky; 
  padding-bottom: 1.8rem;
  top: 0px; 
  z-index:3; 
  background-color: #248096;
  background-image: url('../img/bg_site-header.png');
  background-position: top -600px left -400px;
  background-repeat: no-repeat;
}

#home{
  display: inline-block;
  position: relative;
  max-width: 33%;
  text-decoration: none;
}
#enz-logo {
  display: inline-block;
  width: 90%;
  position: relative;
  top: -6%;
  right: 2%;
}

/*  ab hier von open-sdg*/
.navbar-brand {
  width: calc(100% - 75px);
  max-width: 160px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding:0;
  &:focus {
      background-color: transparent !important;
      outline: 7px solid $focusOutlineColor !important;
  }
}

// a:hover{
//   text-decoration-color: white;
// }


.navbar {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.navbar.navbar-nav.nav-item.nav-link {
  font-size: 15px;
}
.navbar .navbar-nav > .nav-item > .nav-link {
  color: white;
}

/* search field*/
#search-btn {
  background-color: #eeeeee !important;
  color: black !important;
  border-color: black !important;
  padding-top: 0.7rem;
  padding-bottom: 0.7em;
}

/* ab hier nichts geaendert */
  .header-toggles {
    margin-left: auto;
  }

  #menu {
    margin-bottom: 5px;
  }

  /* colorful-bar on top */
  /*
  body {
    background: $backgroundColor url("../img/sdgbg.png") top left repeat-x;
    top: 0;
  } 

  header {
    .navbar {
        .navbar-nav {
            .nav-item:first-child {
                .nav-link {
                    padding-left: 0;
                }
            }
        }
    }
  }

  body.contrast-high {
    .navbar-brand {
        &:focus {
            background-color: transparent !important;
            outline: 7px solid $focusOutlineColor !important;
        }
    }
  }

  .internet-explorer-message {
    display: none;
    border: 5px solid $disclaimer-tag-backgroundColor;
    background-color: $disclaimer-tag-backgroundColor;
    padding: 0;
    .internet-explorer-message-title {
        padding: 2px 20px 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        margin: 0;
        color: $disclaimer-tag-color;
    }
    .internet-explorer-message-body {
        padding: 20px;
        color: $disclaimer-text-color;
        background-color: $backgroundColor;
        margin: 0;
    }
  }
  body.contrast-high {
    .internet-explorer-message {
        border: 5px solid $color-light-highContrast;
        background-color: $color-light-highContrast;
        .internet-explorer-message-title {
            color: $color-dark-highContrast;
        }
        .internet-explorer-message-body {
            color: $color-light-highContrast;
            background-color: $color-dark-highContrast;
        }
    }
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .internet-explorer-message {
        display: block;
    }
  }
*/


.site-intro {
  background: none!important;
  padding-right: 0px!important;
  text-align: justify;
}
.lead-copy {
  padding-top: 2rem;
}
p > img {
    float: right;
    width: 45%;
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.frontpage-goals-grid .frontpage-goals-grid-title {
  margin-top: 5rem;
  margin-bottom: 14px;
}

.row.frontpage-card {
  margin-top:6rem;
  // border-top: 2px solid #ccc; 
}
#main-content {
  .frontpage-card:before {
    content:"";
    background-color:#efeeeb;
    position: absolute;
    height: 100%;
    width: 200vw;
    left: -100vw;
    z-index: -1;
  }
}


/*#1. cards on landing page*/
.col-md-4 {
  // width: 32%;
  height: max-content;
}
.card1, .card2, .card3{
  // width: 33%;
  height:28rem;
  // margin-top: 10px!important;
  // margin-left: 0px!important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #248096;
}
// @media screen and (min-width: 450px) and (max-width: 992px) {
//   .card.col-md-4 {
//     width: 50%!important;
//     height: max-content;
//   }
// }
.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}
.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}
.card3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}
.cont{
  margin-top: 1.5rem;
  padding: 0px 16px 2px 20px ;
  color: white;
}
.card-img-top{
  width:100%;
  height:65%;
}




/*#2. goal page */
.breadcrumb {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.previous-next-links.row {
  position: relative;
  top: -170px;
  left: 4vw;
}
.col-md-auto {
  width: 25%;
}

@for $i from 1 through length($goal-banner-backgroundColors) {
  $background-c: nth($goal-banner-backgroundColors, $i);

  /* goal-navigation-top */
  .goal-#{$i} {
    &.goal-banner {
      background-color: $background-c;
      .Image{
        display: block;
        margin: auto;
        text-align: center;
        width: 25%;
        height: 100%;
        z-index: 1;
        margin-top: -25px;
      }
      .container{
        height: 200px;
      }
      .fa-chevron-left:is(:hover, :focus, :active) {
        color: darken($background-c,75%);
      }
      .fa-chevron-right:is(:hover, :focus, :active) {
        color: darken($background-c,75%);
      }
    }

    /* main content for goals and indicators */
    &.goal-title-by-goal {
      color: $background-c;
      font-weight: 700;
      margin-top: 30px;
    }
    &.indicator-title-by-indicator {
      color: $background-c;
      padding: 0;
    }
  }
}


.layout-goal {
  @media screen and (min-width: 769px) {
    min-height: 80px;
    position: relative;
    .indicator-name {
      width: 75%;
    }
  }
  @media screen and (min-width: 992px) {
    min-height: auto;
    .status {
      width: auto;
    }
  }

  .goal-page-indicator-number {
    margin-left: 0px;
  }
  .goal-indicator {
    margin-top: 0px;
  }
  // .goal-page-target-rule, .goal-page-column-header-rule {
  //   border-top: 0px solid transparent;
  // }
  .status {
    display: block;
    float: right;
    clear: left;
    @include status;
    margin-bottom: 10px;
    margin-top: -5px;
  }

}

// .btn.goal-banner:hover {
//   box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2);
//   outline: 3px solid transparent !important;
//   background-color: $focusBackgroundColor !important;
//   outline-offset: 0 !important;
//   text-decoration: none !important;
// }

// #goal-nav-top {
//   .previous-next-links {
//     .col {
//       & > a[href]:is(:hover, :focus) {
//         box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2);
//         outline: 3px solid transparent !important;
//         background-color: $focusBackgroundColor !important;
//         outline-offset: 0 !important;
//         text-decoration: none !important;
//       }
//     }
//   }
// }

/* goal-navigation-top.night mode*/
body.contrast-high {
  .goal-banner {
      img {
          background-color: black !important;
      }
  }
}




/*#3. indicator page */
#toolbar {
  margin-top: 1.5rem !important;
}




/*#4. goal-navigation-bottom */
#contain{
  margin: auto;
  padding-bottom: 100px;
  padding-top: 50px;
  width: 50%;
}
#text{
    padding-bottom: 20px;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}
// large screen
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
    .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}

// drop shadow
.carousel-col {
  margin: 0.4rem;
  box-shadow: 0 2px 4px 0 rgba(77, 77, 77, 0.9);
}
.carousel-col:hover {
  margin: 0.4rem;
  box-shadow: 0 8px 16px 0 rgba(3,3,3,3.2);
}

// prev and nex button
#nav-arrow {
  font-size: 35px;
  filter: drop-shadow(0 1px 1px black);
}
.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  margin-right: -6rem;
  margin-left: -6rem;
  transform: translateY(-50%);
  text-decoration: none !important;
}



 
/*#5. Footer*/
footer{
  position:relative;
  width:100%;
  height: auto;
  //background-color: #363636;
  //background-image: url('../img/bg_site-header.png');
  //background-position: top -150px left -500px;
  background-repeat: no-repeat;
}

#footer-binder {
  width: 13em; 
  height: 5.5em; 
  margin-top: 4%; 
  margin-bottom: 2%;
}
#footer-binder-image {
  max-width: 100%;
  width: 400;
  height: auto;
}

// remove the focus style for footer binder png
#footer-binder-href:focus {
  color: $focusBackgroundColor !important;
  box-shadow: 0px 0px 0px 0px $focusColor !important;
}

#footerende-href {
  color: white !important;
  box-shadow: 0px 0px 0px 0px $focusColor !important;
}


#kooperation {
      background-color: #248096;
      color: white;
      padding-top: 30px;
      padding-bottom: 15px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
  }

  * {
      padding: 0;
      margin: 0;
  }

  main {
      width: 85%;
      height: 200px;
      margin: 200px, auto;
      margin-left: 125px;
      padding-top: 150px;
      padding-bottom: 199px;
      overflow: hidden;
      position: relative;
  }

.flexdirection {
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 1rem;
}

h5 {    
  font-size: 0.65em; 
  font-weight: 500;
}

@media screen and (max-width: 760px) {
  .flexdirection {
      flex-direction: column;
      align-items: center;
      margin-top: 5%;
  }
  h5 {  
      text-align: center;
  }
} 



// for all a href tags, remove thick black line after clicking (focus)
[href]:focus {
  box-shadow: 0px 0px 0px 0px $focusBackgroundColor !important;
}