#main-content {
  .goal-tiles {
    .goal-tile {
      & > a:focus {
        outline: 0px $focusOutlineColor solid !important;
      }
    }
    padding-top: 1rem;
  }
}

.row {
  margin-left: 0px;
  // --bs-gutter-x: 0px;
}

/*#0. header */
/* replace original body setting --> hide by setting background transparent */
body{
  background: transparent;
  padding-top: 0px;
}

/* header color bar --> hide by pushing over page-top boundary */
#color-bar-background {
  background: $backgroundColor url('../img/sdgbg.png') top left repeat-x;
  top: 0px;
  height: 9px;
}

header {
  display: block;
  // position: sticky;  
  // position: -webkit-sticky; 
  padding-bottom: 1.8rem;
  top: 0px; 
  z-index:3; 
  background-color: #248096;
  background-image: url('../img/bg_site-header.png');
  background-position: top -600px left -400px;
  background-repeat: no-repeat;
}

#home{
  display: inline-block;
  position: relative;
  max-width: 33%;
  text-decoration: none;
}
#enz-logo {
  display: inline-block;
  width: 90%;
  position: relative;
  top: 10%;
  right: 2%;
}

/*  ab hier von open-sdg*/
.navbar-brand {
  width: calc(100% - 75px);
  max-width: 160px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding:0;
  &:focus {
      background-color: transparent !important;
      outline: 7px solid $focusOutlineColor !important;
  }
}

// a:hover{
//   text-decoration-color: white;
// }

.navbar {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.navbar.navbar-nav.nav-item.nav-link {
  font-size: 15px;
}
.navbar .navbar-nav > .nav-item > .nav-link {
  color: white;
}
.navbar .navbar-nav > .nav-item > .nav-link:hover {
  border-bottom: 3px solid white;
}

/* search field*/
#search-btn {
  background-color: #eeeeee !important;
  color: black !important;
  border-color: black !important;
  padding-top: 0.7rem;
  padding-bottom: 0.7em;
}

/* ab hier nichts geaendert */
  .header-toggles {
    margin-left: auto;
  }

  #menu {
    margin-bottom: 5px;
  }
  /*
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .internet-explorer-message {
        display: block;
    }
  }
*/

.site-intro {
  background: none!important;
  padding-right: 0px!important;
  text-align: justify;
}
.lead-copy {
  padding-top: 2rem;
}
p > img {
    float: right;
    width: 45%;
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.frontpage-goals-grid .frontpage-goals-grid-title {
  margin-top: 5rem;
  margin-bottom: 14px;
}

.row.frontpage-card {
  margin-top: 8rem;
}
#main-content {
  .frontpage-card:before {
    content:"";
    background-color:#efeeeb;
    position: absolute;
    height: 110%;
    width: 200vw;
    left: -100vw;
    z-index: -1;
  }
}


/*#1. cards on landing page*/
// gap between cards
.card-gap {
  gap: 1rem;
}
.card {
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #248096;

  .cont{
    display: table-cell;
    vertical-align: middle;
    height: 8rem;
    padding: 0rem 1.5rem;
    color: white;

    > .cont-span {
      vertical-align: middle;
    }
  }
  .card-img-top{
    width: 100%;
    height: 414px;
  } 
}
.card:hover {
  background-color: #7d7900;
}
.carousel-card-prev,
.carousel-card-next {
  position: relative;
  top: -50%;
  margin-right: 1rem;
  margin-left: 1rem;
  text-decoration: none !important;
}




/*#2. goal page */
.breadcrumb {
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

@for $i from 1 through length($goal-banner-backgroundColors) {
  $background-c: nth($goal-banner-backgroundColors, $i);

  /* goal-navigation-top */
  .goal-#{$i} {
    &.goal-banner {
      background-color: $background-c;
      padding-top: 0px;
      padding-bottom: 0px;
      .Image{
        display: block;
        margin: auto;
        text-align: center;
        width: 25%;
        height: 100%;
        z-index: 1;
      }
      .fa-chevron-left:is(:hover, :focus, :active) {
        color: darken($background-c,50%); //white
      }
      .fa-chevron-right:is(:hover, :focus, :active) {
        color: darken($background-c,50%); //white
      }
    }

    /* main content for goals and indicators */
    &.goal-title-by-goal {
      color: $background-c;
      font-weight: 700;
      margin-top: 30px;
    }
    &.indicator-title-by-indicator {
      color: $background-c;
      padding: 0;
    }
  }
}

// goal-navigation-top with button effect: 
// 1. change .fa-chevron-left/right :is(...) { color: white; }
// 2. change font-size of class "fa fa-chevron-left/right" in goal-navigation-top.html --> padding: 3vw 0.5vw;
// 3. and uncomment below:
// #goal-nav-top {
//   .previous-next-links {
//     .col {
//       & > a[href]:is(:hover, :focus) {
//         box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2) !important;
//         outline: 3px solid transparent !important;
//         background-color: $focusBackgroundColor !important;
//         outline-offset: 0 !important;
//         text-decoration: none !important;
//       }
//     }
//   }
// }


.layout-goal {
  @media screen and (min-width: 769px) {
    min-height: 80px;
    position: relative;
    .indicator-name {
      width: 75%;
      a:hover {
        border-bottom: 3px solid #444444;
      }
    }
  }
  @media screen and (min-width: 992px) {
    min-height: auto;
    .status {
      width: auto;
    }
  }

  .goal-page-indicator-number {
    margin-left: 0px;
  }
  .goal-indicator {
    margin-top: 0px;
  }
  // .goal-page-target-rule, .goal-page-column-header-rule {
  //   border-top: 0px solid transparent;
  // }
  .status {
    display: block;
    float: right;
    clear: left;
    @include status;
    margin-bottom: 10px;
    margin-top: -5px;
  }

}

// /* goal-navigation-top.night mode*/
// body.contrast-high {
//   .goal-banner {
//       img {
//           background-color: black !important;
//       }
//   }
// }




/*#3. indicator page */
#toolbar {
  margin-top: 1.5rem !important;
}




/*#4. goal-navigation-bottom */
#contain{
  margin: auto;
  padding-bottom: 100px;
  padding-top: 50px;
  width: 50%;
}
#text{
    padding-bottom: 20px;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

#carouselLowerNavigation {
  // large screen
  @media (min-width: 768px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
      .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
  }
  .carousel-inner .carousel-item-end,
  .carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
}

// drop shadow
.carousel-col {
  margin: 0.4rem;
  box-shadow: 0 2px 4px 0 rgba(77, 77, 77, 0.9);
}
.carousel-col:hover {
  margin: 0.4rem;
  box-shadow: 0 8px 16px 0 rgba(3,3,3,3.2);
}

// prev and nex button
#nav-arrow {
  font-size: 35px;
  filter: drop-shadow(0 1px 1px black);
}
.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  margin-right: -6rem;
  margin-left: -6rem;
  transform: translateY(-50%);
  text-decoration: none !important;
}



 
/*#5. Footer*/
footer{
  position:relative;
  width:100%;
  height: auto;
  //background-color: #363636;
  //background-image: url('../img/bg_site-header.png');
  //background-position: top -150px left -500px;
  background-repeat: no-repeat;
}

#footer-binder {
  width: 13em; 
  height: 5.5em; 
  margin-top: 4%; 
  margin-bottom: 4%;
}
#footer-binder-image {
  max-width: 100%;
  width: 400;
  height: auto;
}


// remove the focus style for footer binder png
#footerende-href {
  color: white !important;
  box-shadow: 0px 0px 0px 0px white !important;
}
#footer-binder-href:focus {
  color: white !important;
  box-shadow: 2px solid white !important;
}
footer a:hover {
  border-bottom: 3px solid white;
}
ul {
  margin-bottom: 0px;
}


#kooperation {
      background-color: #248096;
      color: white;
      padding-top: 30px;
      padding-bottom: 15px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
  }

  * {
      padding: 0;
      margin: 0;
  }

  main {
      width: 85%;
      height: 200px;
      margin: 200px, auto;
      margin-left: 125px;
      padding-top: 150px;
      padding-bottom: 199px;
      overflow: hidden;
      position: relative;
  }

.flexdirection {
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 1rem;
}

h5 {    
  font-size: 0.9rem; 
  font-weight: 300;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 760px) {
  .flexdirection {
      flex-direction: column;
      align-items: center;
      margin-top: 5%;
  }
  h5 {  
      text-align: center;
  }
} 



// for all a href tags, remove thick black line after clicking (focus)
[href]:focus {
  box-shadow: 0px 0px 0px 0px $focusBackgroundColor !important;
}