// for all a href tags, remove thick black line after clicking (focus)
[href]:focus {
  box-shadow: 0px 0px 0px 0px $focusBackgroundColor !important;
}

h1 {
  font-size: 2.5rem;
  text-align: start;
  @media screen and (max-width: 992px) {
    font-size: 2.25rem;
  }
  @media screen and (max-width: 576px) {
    font-size: 1.8rem;
  }
}
h2 {
  font-size: 2.1rem;
  text-align: start;
  @media screen and (max-width: 768px) {
    font-size: 1.7rem;
  }
  @media screen and (max-width: 400px) {
    font-size: 1.5rem;
  }
}
h3 {
  font-size: 1.9rem;
  text-align: start;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}
h4 {
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}


#main-content {
  .goal-tiles {
    .goal-tile {
      & > a:focus {
        outline: 0px $focusOutlineColor solid !important;
      }
    }
    padding-top: 1rem;
  }
}

.row {
  margin-left: 0px;
  // --bs-gutter-x: 0px;
}

/*#0. header */
/* replace original body setting --> hide by setting background transparent */
body{
  background: transparent;
  padding-top: 0px;
}

/* header color bar --> hide by pushing over page-top boundary */
#color-bar-background {
  background: $backgroundColor url('../img/sdgbg.png') top left repeat-x;
  position: relative;
  top: 0px;
  height: 9px;
}

header {
  display: block;
  // position: sticky;  
  // position: -webkit-sticky; 
  top: 0px; 
  max-height: fit-content;
  z-index:3; 
  background-color: #248096;
  background-image: url('../img/bg_site-header.png');
  background-position: top -600px left -400px;
  background-repeat: no-repeat;
}

#home{
  display: inline-block;
  position: relative;
  padding-top:0.7rem; 
  padding-bottom: 1rem;
  max-width: 17rem;
  text-decoration: none;
  @media screen and (max-width: 768px) {
    max-width: 15rem;
  }
}
#enz-logo {
  display: inline-block;
  width: 90%;
  position: relative;
  top: 10%;
  right: 2%;
  @media screen and (max-width: 992px) {
    top: 25%;
    width:80%;
    right: -10%;
  }
}

/*  ab hier von open-sdg*/
.navbar-brand {
  width: calc(100% - 75px);
  max-width: 160px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding:0;
  &:focus {
      background-color: transparent !important;
      outline: 7px solid $focusOutlineColor !important;
  }
}

// second logo and navbar-toggler on the right
.header-right {
  @media screen and (min-width: 992px) {
    display: flex; 
    flex-direction: column;
  }

  @media screen and (max-width: 992px) {
    display: flex; 
    flex-direction: row-reverse;
    margin-top: auto;
  }
}
.navbar {
  justify-content: flex-end; // space out brand from logo
}
// set navigation links (upper right) to white
.navbar .navbar-nav > .nav-item > .nav-link {
  color: white;
}
.navbar .navbar-nav > .nav-item > .nav-link:hover {
  border-bottom: 3px solid white;
}
// hide navigation links (upper right) when screen is small
@media screen and (max-width: 992px) {
  #header-navigation-links {
    display: none !important;;
  }
}

// small screen --> hamburger icon and dropdown menu
@media screen and (min-width: 992px) {
  // show navigation dropdown when screen is small
  .header-navigation-dropdown {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .navbar {
    // hamburger icon
    .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='	rgb(255,255,255)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      font-size: 0.8rem;
    }
    .navbar-toggler {
      border-color: rgb(255,255,255);
      background-color: #248096;
      margin-top: 0px;
    } 
    .navbar-toggler[aria-expanded="true"] {
      background-color: #7d7900;
    } 

    .navbar-toggler:hover,
    .navbar-toggler:focus {
      border-color: rgb(255,255,255);
      background-color: #7d7900;
      box-shadow: 0px 0px 0px 0px $focusBackgroundColor !important;
    } 
  }
  // dropdown menu under color bar
  .header-navigation-dropdown {
    .nav-item {
      background-color: #226c7e;
    } 
    .nav-item:hover {
      background-color: #7d7900;
    }
    .navbar-nav .nav-link {
      color: white;
      padding-left: 1rem;
    }
  }
}






/* search field*/
#search-btn {
  background-color: #eeeeee !important;
  color: black !important;
  border-color: black !important;
  padding-top: 0.7rem;
  padding-bottom: 0.7em;
}

/* ab hier nichts geaendert */
  .header-toggles {
    margin-left: auto;
  }

  #menu {
    margin-bottom: 5px;
  }
  /*
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .internet-explorer-message {
        display: block;
    }
  }
*/

.site-intro {
  background: none!important;
  padding-right: 0px!important;
  text-align: justify;
}
.lead-copy {
  padding-top: 2rem;
  font-size: 1.4rem;
  @media screen and (max-width: 992px) {
    font-size: 1.25rem;
  }
}
.col-lg-5 {
  @media screen and (min-width: 992px) {
    padding-left: 3rem;
    width: 41%;
  }
  width: auto;
  height: max-content;
  padding-bottom: 2rem;
}

.frontpage-goals-grid .frontpage-goals-grid-title {
  margin-top: 5rem;
  margin-bottom: 14px;
}

.row.frontpage-card {
  margin-top: 8rem;
}
#main-content {
  .frontpage-card:before {
    content:"";
    background-color:#efeeeb;
    position: absolute;
    height: 110%;
    width: 200vw;
    left: -100vw;
    z-index: -1;
  }
}


/*#1. cards on landing page*/
// gap between cards
.card-gap {
  gap: 1rem;
}
.card {
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #248096;

  .cont {
    display: table-cell;
    vertical-align: middle;
    height: 8rem;
    padding: 0rem 1.5rem;
    color: white;

    > .cont-span {
      vertical-align: middle;
    }
  }
  .card-img-top{
    width: 100%;
    height: max-content;
  } 
}
.card:hover {
  background-color: #7d7900;
}
.carousel-card-prev,
.carousel-card-next {
  position: relative;
  top: -50%;
  margin-right: 1rem;
  margin-left: 1rem;
  text-decoration: none !important;
}
// small screen: md > lg
@media (min-width: 768px) and (max-width: 992px) {
  #carouselCard {
    .carousel-inner .carousel-item > div { display: none; }
    .carousel-inner .carousel-item > div:first-child { display: block; }
    .carousel-inner .carousel-item > div:first-child + div { display: block; }
  }
}
// for small screens: > md
@media (max-width: 768px) {
  #carouselCard {
    .carousel-inner .carousel-item > div { display: none; }
    .carousel-inner .carousel-item > div:first-child { display: block; }
  }
}




/*#2. goal page */
.breadcrumb {
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

@for $i from 1 through length($goal-banner-backgroundColors) {
  $background-c: nth($goal-banner-backgroundColors, $i);

  /* goal-navigation-top */
  .goal-#{$i} {
    padding-top: 3vw;
    padding-bottom: 3vw;
    &.goal-banner {
      background-color: $background-c;
      padding-top: 0px;
      padding-bottom: 0px;
      & > .Image{
        display: block;
        text-align: center;
        width: 25%;
        height: 100%;
        z-index: 1;
      }
      .fa-chevron-left,
      .fa-chevron-right {
        font-size: calc(1rem + ((2vw) * 0.6944));
      }
      .fa-chevron-left:is(:hover, :focus, :active) {
        color: darken($background-c,50%); //white
      }
      .fa-chevron-right:is(:hover, :focus, :active) {
        color: darken($background-c,50%); //white
      }
    }
    .Image.col-2 {
      @media screen and (max-width: 992px) {
        width: 10rem;
      }
      @media screen and (max-width: 576px) {
        width: 8rem;
      }
    }
    /* main content for goals and indicators */
    &.goal-title-by-goal {
      color: $background-c;
      font-weight: 700;
      margin-top: 3vw;
    }
    &.indicator-title-by-indicator {
      color: $background-c;
      padding: 0;
    }
  }
}

// goal-navigation-top with button effect: 
// 1. change .fa-chevron-left/right :is(...) { color: white; }
// 2. change font-size of class "fa fa-chevron-left/right" in goal-navigation-top.html --> padding: 3vw 0.5vw;
// 3. and uncomment below:
// #goal-nav-top {
//   .previous-next-links {
//     .col {
//       & > a[href]:is(:hover, :focus) {
//         box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2) !important;
//         outline: 3px solid transparent !important;
//         background-color: $focusBackgroundColor !important;
//         outline-offset: 0 !important;
//         text-decoration: none !important;
//       }
//     }
//   }
// }

.layout-goal {
  .goal-page-indicator-number {
    margin-left: 0px;
    padding-right: 70px;
    .indicator-number {
      font-size: 1.4rem; 
      font-weight: 500;
      color:#444444; 
      text-decoration: none;
      padding:0.5rem 0rem; 
      @media screen and (max-width: 992px) {
        font-size: 1.2rem;
      }
    }
  }

  .indicator-name {
    a {
      font-size: 1.5rem; 
      font-weight: 500;
      color:#444444;
      text-decoration: none;
      padding:0.5rem 0rem; 
      margin: 0.3rem; 

      @media screen and (max-width: 768px) {
        padding: 0rem 0rem;
        font-size: 1.2rem;
      }

    }
    a:hover {
      border-bottom: 3px solid #444444;
    }
  }
  @media screen and (min-width: 769px) {
    min-height: 80px;
    position: relative;
    .indicator-name {
      width: 75%;
    }
  }
  @media screen and (min-width: 992px) {
    min-height: auto;
    .status {
      width: auto;
    }
  }


  .goal-indicator {
    margin-top: 0px;
  }
  // .goal-page-target-rule, .goal-page-column-header-rule {
  //   border-top: 0px solid transparent;
  // }
  .status {
    display: block;
    float: right;
    clear: left;
    @include status;
    margin-bottom: 10px;
    margin-top: -5px;
  }

}

// /* goal-navigation-top.night mode*/
// body.contrast-high {
//   .goal-banner {
//       img {
//           background-color: black !important;
//       }
//   }
// }




/*#3. indicator page */
#toolbar {
  margin-top: 1.5rem !important;
}



/*#4. goal-navigation-bottom */
#contain{
  margin: auto;
  padding-bottom: 100px;
  padding-top: 50px;
  width: 50%;
}
#text{
    padding-bottom: 20px;
}

// small screen: xs
@media (max-width: 576px) {
  #carouselLowerNavigation {
    .carousel-inner .carousel-item > div { display: none; }
    .carousel-inner .carousel-item > div:first-child { display: block; }
  }
}
// small screen: sm > md
@media (min-width: 576px) and (max-width: 768px) {
  #carouselLowerNavigation {
    .carousel-inner .carousel-item > div { display: none; }
    .carousel-inner .carousel-item > div:first-child { display: block; }
    .carousel-inner .carousel-item > div:first-child + div { display: block; }
  }
}
// small screen: md > lg
@media (min-width: 768px) and (max-width: 992px) {
  #carouselLowerNavigation {
    .carousel-inner .carousel-item > div { display: none; }
    .carousel-inner .carousel-item > div:first-child { display: block; }
    .carousel-inner .carousel-item > div:first-child + div { display: block; }
    .carousel-inner .carousel-item > div:first-child + div + div { display: block; }
  }
}
// for frontpage cards and goal-navigation-bottom
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

// #carouselLowerNavigation {
//   // large screen
//   @media (min-width: 768px) {
//     .carousel-inner .carousel-item-end.active,
//     .carousel-inner .carousel-item-next {
//       transform: translateX(25%);
//     }
//       .carousel-inner .carousel-item-start.active, 
//     .carousel-inner .carousel-item-prev {
//       transform: translateX(-25%);
//     }
//   }
//   .carousel-inner .carousel-item-end,
//   .carousel-inner .carousel-item-start { 
//   transform: translateX(0);
// }
// }

// drop shadow
.carousel-col {
  margin: 0.4rem;
  box-shadow: 0 2px 4px 0 rgba(77, 77, 77, 0.9);
}
.carousel-col:hover {
  margin: 0.4rem;
  box-shadow: 0 8px 16px 0 rgba(3,3,3,3.2);
}

// prev and nex button
#nav-arrow {
  font-size: 35px;
  filter: drop-shadow(0 1px 1px black);
}
.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  margin-right: -6rem;
  margin-left: -6rem;
  transform: translateY(-50%);
  text-decoration: none !important;
}




 
/*#5. Footer*/
footer{
  position:relative;
  width:100%;
  height: auto;
  //background-color: #363636;
  //background-image: url('../img/bg_site-header.png');
  //background-position: top -150px left -500px;
  background-repeat: no-repeat;
}

#footer-binder {
  width: 13em; 
  height: 5.5em; 
  margin-top: 4%; 
  margin-bottom: 4%;
}
#footer-binder-image {
  max-width: 100%;
  width: 400;
  height: auto;
}


// remove the focus style for footer binder png
#footerende-href {
  color: white !important;
  box-shadow: 0px 0px 0px 0px white !important;
}
#footer-binder-href:focus {
  color: white !important;
  box-shadow: 2px solid white !important;
}
footer a:hover {
  border-bottom: 3px solid white;
}
ul {
  margin-bottom: 0px;
}


#kooperation {
      background-color: #248096;
      color: white;
      padding-top: 30px;
      padding-bottom: 15px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
  }

  * {
      padding: 0;
      margin: 0;
  }

  main {
      width: 85%;
      height: 200px;
      margin: 200px, auto;
      margin-left: 125px;
      padding-top: 150px;
      padding-bottom: 199px;
      overflow: hidden;
      position: relative;
  }

.flexdirection {
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 1rem;
}

h5 {    
  font-size: 0.9rem; 
  font-weight: 300;
  padding-bottom: 0.5rem;
  padding-left: 0.4rem;
}

@media screen and (max-width: 760px) {
  .flexdirection {
      flex-direction: column;
      align-items: center;
      margin-top: 5%;
  }
  h5 {  
      text-align: center;
      padding-left: 0rem;
  }
} 

