<!-- cards for publication etc-->

<h2 style="font-size: 32px; font-weight: 700; color: #444444; padding-top: 5rem;">Veröffentlichungen</h2>
<h4 style="font-size: 22px; color: #444444; margin-bottom: 20px;">Bleibe auf dem Laufenden...</h4>
<br>

<div class="row flexdirection" style="padding-left: -calc(var(--bs-gutter-x) * -.5)">
    <div class="col-xl-4 col-lg-6 ">
        <a href="https://www.enzkreis.de/Landkreis-Politik/Leitbild-Agenda-2030/" target="_blank" style="text-decoration: none;">
        <div class="card1 border">
            <img class="card-img-top" src='{{ site.baseurl }}/assets/img/3397_5_1_m.jpg' alt="include.card.title">
            <div class="cont">
                <h4 style="font-weight: 500; font-size: 1.125em;; line-height: 1.5;"><br>Agenda 2030 im Enzkreis</h4>
            </div>
        </div>
        </a>
    </div>
    <div class="col-xl-4 col-lg-6">
        <a href="https://www.enzkreis.de/Landkreis-Politik/Leitbild-Agenda-2030/" target="_blank" style="text-decoration: none;">
            <div class="card2 border">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/3397_5_1_m.jpg" alt="include.card.title">
                <div class="cont">
                    <h4 style="font-weight: 500; font-size: 1.125em;; line-height: 1.5; padding-top: 0.57rem">Agenda 2030 für Städte und Gemeinden</h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-4 col-lg-6">
        <a href="https://www.enzkreis.de/Landkreis-Politik/Leitbild-Agenda-2030/" target="_blank" style="text-decoration: none;">
            <div class="card3 border">
                <img class="card-img-top"src="{{ site.baseurl }}/assets/img/3397_5_1_m.jpg" alt="include.card.title">
                <div class="cont">
                    <h4 style="font-weight: 500; font-size: 1.125em;; line-height: 1.5;">Deutsches Jugendinstitut e.V (DJI) - Podcast "Transfer für die Ohren" (Interview mit Dr. Jannis Hoek)</h4>
                </div>
            </div>
        </a>
    </div>
</div>
